@import "_dashboard";
@import "_branchlist";
$header: 60px;

body{
	font-family: 'Segoe UI','sans-serif';
  background-color: #f9f9f9;
    
}

.page-wrapper{
 /* position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;*/
}

[ui-view='header']{
}

[ui-view='main']{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    flex-direction: row;


    > *{
       margin: 0 auto; 
    }
}

.centered-content{
  max-width: 50%;
  text-align: center;
}

.col{

}

.btn{
  cursor: pointer;
  &.btn-success{
    transition: all 0.2s ease-out;
    color: white;
    background-color: #4CAF50;
    border-top: 4px transparent solid;
    border-left: none;
    border-right: none;
    border-bottom: 4px #2E7D32 solid;
    &:hover{
      background-color: #66BB6A;
    }
  }
  &.btn-large{
    padding-top: 4px;
    line-height: 48px;
    .icon{
    float: left;
    height: 36px;
    margin: 4px 2em 4px 1em;
  }
  .text{
    font-size: 2em;
    margin-right: 1em;
    float: right;
  }
  }
  
}

.__github_graph{
  width: 100%;
  min-height: 400px;
}


.svg-container{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    overflow: hidden;
}

circle.commit {
    /*fill: green;*/
    stroke: white;
    stroke-width: 1;
}
path.commit{
	stroke-width: 2;
	fill: none;
}
rect.branch-label-background{
	fill: #555;
  stroke: white;
  stroke-width: 1px;
}
text.branch-label{

   fill: #efefef;
	font-size: 11px;
	font-family: Arial;
   color: #efefef;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.github-avatar{
    margin-top: ($header - ($header/1.3))/2;
    height: $header/1.3;
    width: $header/1.3;
    border-radius: ($header/1.3)/2;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    img{
        height:$header/1.3;
        width: $header/1.3;
    }
}
.github-name{
    float:left;
}
.github-logout{
    float:left;
}