body{
	font-family: 'sans-serif';
}


.svg-container{
	position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid gray;
    overflow: hidden;
}

circle.commit {
    /*fill: green;*/
    stroke: white;
    stroke-width: 1;
}
path.commit{
	stroke-width: 2;
	fill: none;
}
rect.branch-background{
	fill: #333;
}
text.branch-label{
	
   fill: #efefef;
	font-size: 11px;
	font-family: Arial;
   color: #efefef;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}