$header: 60px;

body{
	font-family: arial,'sans-serif';

}

.page-wrapper{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
}

[ui-view='header']{
  position: absolute;
    height: $header;
    background-color: #03a9f4;
    color: white;
    line-height: $header;
    width: 100%;
    padding: 0 10px;
}

[ui-view='main']{
    position:absolute;
    top: $header+10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}


.svg-container{
	position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    overflow: hidden;
}

circle.commit {
    /*fill: green;*/
    stroke: white;
    stroke-width: 1;
}
path.commit{
	stroke-width: 2;
	fill: none;
}
rect.branch-background{
	fill: #333;
}
text.branch-label{
	
   fill: #efefef;
	font-size: 11px;
	font-family: Arial;
   color: #efefef;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.github-avatar{
    margin-top: ($header - ($header/1.3))/2;
    height: $header/1.3;
    width: $header/1.3;
    border-radius: ($header/1.3)/2;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    img{
        height:$header/1.3;
        width: $header/1.3;
    }
}
.github-name{
    float:left;
}
.github-logout{
    float:left;
}