body {
  font-family: arial, 'sans-serif'; }

.page-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

[ui-view='header'] {
  position: absolute;
  height: 60px;
  background-color: #03a9f4;
  color: white;
  line-height: 60px;
  width: 100%;
  padding: 0 10px; }

[ui-view='main'] {
  position: absolute;
  top: 70px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

.svg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  overflow: hidden; }

circle.commit {
  /*fill: green;*/
  stroke: white;
  stroke-width: 1; }

path.commit {
  stroke-width: 2;
  fill: none; }

rect.branch-background {
  fill: #333; }

text.branch-label {
  fill: #efefef;
  font-size: 11px;
  font-family: Arial;
  color: #efefef; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.github-avatar {
  margin-top: 6.92308px;
  height: 46.15385px;
  width: 46.15385px;
  border-radius: 23.07692px;
  overflow: hidden;
  float: left;
  margin-right: 10px; }
  .github-avatar img {
    height: 46.15385px;
    width: 46.15385px; }

.github-name {
  float: left; }

.github-logout {
  float: left; }
