
<!-- <github-graph click-commit="repoDashboard.selectCommit" commits='repoDashboard.commitData.commits' branches='repoDashboard.commitData.branches'></github-graph> -->
<div>
<h1>{{repoDashboard.model.repository.name}}</h1>
	<ul class="branch branch__list">
		<li class="branch__header">Branch-status &nbsp; <input type="text" ng-model="filter.parent.name" placeholder="parent branch">
			<span class="branch__realtime" 
				ng-class="{ 'enabled': repoDashboard.realTimeOptions.available, 'paused': repoDashboard.model.realTimeOptions.paused }" ng-switch on="repoDashboard.model.realTimeOptions.available">

				<span ng-switch-when="true">realtime enabled</span>
				<span ng-switch-when="false">enable realtime</span>
			
				<span ng-switch-default>awaiting realtime-status...</span>
			</span>
		
		</li>
		<li class="branch__item" ng-repeat="branch in repoDashboard.model.branches | filter:filter |orderBy:'lastactivity.when':true">
		<span class="branch__box">
			<span class="branch__name">{{ branch.name }}</span>
		</span>
		<span class="branch__activity">
			<span class="activity__author-avatar">
				<img ng-src="{{branch.lastactivity.avatar}}">
			</span><span class="activity__author">{{::branch.lastactivity.author }}</span> updated <span class="activity__when">{{branch.lastactivity.when | humanize }}</span>
		</span>
		<span class="branch__status__box">
		<span class="branch__status" ng-class="branch.status">
			{{ {'diverged': 'has diverged from', 'ahead': 'is ahead of', 'behind': 'is behind'}[branch.status]}} 
			<span class="branch__name">{{branch.parent.name}}</span>
		</span>
		<span class="branch__divergence">
			{{branch.behind}} | {{branch.ahead}}
		</span>
		</span>
		</li>
	</ul>
</div>
